<p>
  <a href="#" id="newRestaurant" class="btn btn-primary">New Restaurant</a>
</p>
<div class="card-group">
<% @restaurants.each do |restaurant| %>
<div class="card">
  <img class="card-img-top" src="<%= restaurant.img_url %>" alt="Card image cap">
  <div class="card-block">
  <h4 class="card-title"><%= restaurant.name %></h4>  <p class="card-text"><%= restaurant.description %></p>
  <div class="btn-group" role="group" aria-label="Basic example" id="<%= restaurant.id %>">
    <%= link_to 'Show', restaurant_path(:id => restaurant.id), class: 'btn btn-secondary' %>
    <a href="#" class="btn btn-secondary editRestaurant">Edit</a>
    <%= link_to 'Delete', restaurant, method: 'delete', class: 'btn btn-danger'%>
  </div>
</div>
</div>
  <% end %>
</div>
